footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  box-shadow: 0 -1px 10px rgb(0 0 0 / 10%);
  view-transition-name: footer;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

.footer .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.footer .default-content-wrapper p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .default-content-wrapper p:first-child {
  white-space: nowrap;
  font-size: clamp(0.75rem, 3vw, var(--body-font-size-xs));
}

.footer .default-content-wrapper p:first-child img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.footer .default-content-wrapper p:last-child {
  gap: clamp(0.75rem, 2vw, 1.5rem);
  font-size: clamp(0.75rem, 3vw, var(--body-font-size-xs));
}

.footer .default-content-wrapper p:last-child a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.footer .default-content-wrapper p:last-child a:hover {
  text-decoration: underline;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }

  .footer .default-content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
